
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* c-america header start */
.c-america-head{
    background-color: #2D25A0;
    overflow: hidden;
}
.c-america-header{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 50px;
}
.h-text{
    color: white;
    font-size: 64px;
}
.h-left button{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    border: none;
    transition: background-color 0.5s, border-radius 0.5s ;

}
.h-left button:hover{
    background-color: #3DBAFD;
    border-radius: 0px 30px 0px 30px;
}

.h-left button a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.5s;
}

.h-img{
    width: 556px;
    height: 438px;
    transition: transform 0.5s;
}
.h-right:hover img{
    transform:scale(1.4,1.4) rotate(20deg) translate(-50px);

}
/* c-america header end */

/* player details */
.p-details{
    display: flex;
    justify-content: center;
}
.p-div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 27px;
    column-gap: 30px;
    margin-top: 70px;
}
.player{
    width: 330px;
    height: 474px;
    overflow: hidden;
    margin-bottom: 50px;
    box-shadow: 0px 0px 60px rgba(156, 231, 15, 0.15);
    cursor: pointer;
    transition: box-shadow 0.25s;
}
.player:hover{
    box-shadow:0px 1px 6px -2px black;

}
.p-img img{
    width: 300px;
    height: 256px;
    display: block;
    margin: auto;
    margin-top: 10px;
}
.p-info{
    padding: 15px;
}
.p-info h3{
    margin-top: 10px;
    font-size: 28px;
}
.p-info p{
    color: gray;
}
/* player details */

/* highlights */
.highlights-left{
    color: black;
}
.highlights-left h1{
    font-size: 48px;
}
.highlights-left p{
    color: gray;
}
.highlights-right:hover img{
    transform:scale(1.1,1.1);

}
.f-match-container{
    margin-bottom: 30px;
    background-color: lightgoldenrodyellow;
}
.f-match-container h1{
    font-size: 40px;
    text-align: center;
}
.fa-arrow-circle-down{
    font-size: 50px;
    color: tomato;
}
.f-match-container p{
    text-align: center;
}
.f-video{
    width: 80%;
    height:480px;
    display: block;
    margin: auto;
    margin-top: 20px;
}
/* highlights */